<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.dao.ReviewAnalysisStatMapper">

    <select id="selectByDimensionType" resultType="com.gec.domain.analysis.ReviewAnalysisStat">
        SELECT * FROM ads_review_analysis
        WHERE dimension_type = #{dimensionType}
        <if test="startDate != null and startDate != ''">
            AND stat_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND stat_date &lt;= #{endDate}
        </if>
        ORDER BY stat_date ASC, dimension_value ASC
    </select>

    <select id="selectByDimensionTypes" resultType="com.gec.domain.analysis.ReviewAnalysisStat">
        SELECT * FROM ads_review_analysis
        WHERE dimension_type IN
        <foreach collection="types" item="t" open="(" separator="," close=")">
            #{t}
        </foreach>
        <if test="startDate != null and startDate != ''">
            AND stat_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND stat_date &lt;= #{endDate}
        </if>
        ORDER BY stat_date ASC, dimension_type ASC, dimension_value ASC
    </select>

    <select id="selectTopByDimensionType" resultType="com.gec.domain.analysis.ReviewAnalysisStat">
        SELECT * FROM ads_review_analysis
        WHERE dimension_type = #{dimensionType}
        <if test="startDate != null and startDate != ''">
            AND stat_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND stat_date &lt;= #{endDate}
        </if>
        ORDER BY ${orderField} DESC
        LIMIT #{limit}
    </select>

    <select id="selectProductWordOfMouth" resultType="com.gec.domain.analysis.ReviewAnalysisStat">
        SELECT dimension_value AS dimensionValue,
               SUM(total_reviews) AS totalReviews,
               SUM(good_reviews) AS goodReviews,
               SUM(mid_reviews) AS midReviews,
               SUM(bad_reviews) AS badReviews,
               ROUND(SUM(good_reviews) / SUM(total_reviews), 4) AS goodRate,
               ROUND(AVG(avg_rating), 2) AS avgRating
        FROM ads_review_analysis
        WHERE dimension_type IN ('product_top', 'product_bottom')
        <if test="startDate != null and startDate != ''">
            AND stat_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND stat_date &lt;= #{endDate}
        </if>
        GROUP BY dimension_value
        ORDER BY goodRate DESC
        LIMIT #{limit}
    </select>
</mapper>
